body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.container {
    background-color:cornsilk;
    border: solid 0.15rem;
    border-radius: 1rem;
    padding: 1.5rem 0.15rem;
    margin: 1rem auto;
    text-align: center;
    transition: 0.5s;
}

#color-to-guess {
    font-size: 3rem;
    text-transform: uppercase;
}

#color-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 6rem;
    gap: 1rem;
    padding: 1.5rem;
}

#color-container div {
    border: solid 0.15rem black;
    border-radius: 0.5rem;
    transition: 0.5s;
}

#info-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button {
    font-size: 2rem;
    float: right;
    background-color: cornsilk;
    font-family: monospace;
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    font-weight: bold;
}
button:hover {
    background-color: bisque;
    font-weight: bolder;
}

#status-bar {
    font-size: 2rem;
    padding: 0.15rem;
    line-height: 1.5;
}